<!--start wrapper-->
<div class="wrapper">
  <!--start top header-->
  <header class="top-header">
    <nav class="navbar navbar-expand">
      <div class="mobile-toggle-icon d-xl-none">
        <i class="bi bi-list"></i>
      </div>

      <div class="top-navbar-right ms-3">
        <ul class="navbar-nav align-items-center">
          <li class="nav-item dropdown dropdown-large">
            <a
              class="nav-link dropdown-toggle dropdown-toggle-nocaret"
              href="#"
              data-bs-toggle="dropdown"
            >
              <div class="user-setting d-flex align-items-center gap-1">
                <img
                  src="assets/images/avatars/avatar-1.png"
                  class="user-img"
                  alt=""
                />
                <div class="user-name d-none d-sm-block">
                  Mohammed Elbanhawy
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <!--end top header-->
  <!--start sidebar -->
  <aside class="sidebar-wrapper">
    <div class="iconmenu">
      <div class="nav-toggle-box">
        <div class="nav-toggle-icon"><i class="bi bi-list"></i></div>
      </div>
      <ul class="nav nav-pills flex-column">
        <li
          class="nav-item"
          data-bs-toggle="tooltip"
          data-bs-placement="right"
          title="Home"
        >
          <button
            class="nav-link"
            data-bs-toggle="pill"
            data-bs-target="#pills-dashboards"
            type="button"
          >
            <i class="bi bi-house-door-fill"></i>
          </button>
        </li>
      </ul>
    </div>
    <div class="textmenu">
      <div class="brand-logo">
        <img src="assets/images/favicon-32x32.png" width="40" alt="" />
      </div>
      <div class="tab-content">
        <div class="tab-pane fade" id="pills-dashboards">
          <div class="list-group list-group-flush">
            <div class="list-group-item">
              <div
                class="d-flex w-100 justify-content-between"
                style="margin: auto"
              >
                <h5 class="mb-0" style="margin: auto">بوابة الكابتن</h5>
              </div>
              <small class="mb-0">Mohammed Elbanhawy</small>
            </div>
            <a
            
              class="list-group-item"
              routerLink="/captingate"
              ><i class="bi bi-tools" ></i>بوابة الكابتن</a
            >
            <a href="index2.html" class="list-group-item"
              ><i class="bi bi-bell"></i>الاشعارات</a
            >
            <a href="index3.html" class="list-group-item"
              ><i class="bi bi-chat"></i>رسائل</a
            >
            <a href="index4.html" class="list-group-item"
              ><i class="bi bi-info-circle"></i>مساعده</a
            >
            <a href="index5.html" class="list-group-item"
              ><i class="bi bi-gear"></i>اعدادات</a
            >
          </div>
        </div>
      </div>
    </div>
  </aside>
  <!--start sidebar -->
</div>
<!-- end of wrapper -->
