.page-content {
  width: 70%;
  text-align: center;
}
.title-container h1 {
  font-weight: 700;
}
.title-container p {
  color: gray;
  font-weight: 500;
}
.ride-btn {
  display: block;
  width: 90%;
  margin: 2rem;
  height: 2rem;
  background-color: green;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 1.4rem;
}
.prob-dis {
  display: block;
  color: grey;
  cursor: pointer;
  font-size: 20px;
}
.prob-solv {
  color: red;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
}
