<!--start content-->
<main class="page-content">
  <div class="title-container">
    <h1>مشكله حول الدفع نقدا</h1>
    <p>الحجز رقم 587487877</p>
  </div>
  <div class="question">
    <div class="mcq">
      <div>
        <label>
          لقد دفع لي العميل نقدا اكثر من اجرة الرحله
          <input type="radio" name="answer-question-three" />
          <span class="checkmark"></span>
        </label>
      </div>

      <div>
        <label>
          <input type="radio" name="answer-question-three" />
          <span class="checkmark"></span>
          لقد دفع لي العميل نقدا اقل من اجرة الرحله
        </label>
      </div>

      <div>
        <label>
          ادخلت مبلغ نقدي خاطئ
          <input type="radio" name="answer-question-three" />
          <span class="checkmark"></span
        ></label>
      </div>
      <div>
        <label>
          خطأ في اجرة الرحله
          <input type="radio" name="answer-question-three" />
          <span class="checkmark"></span
        ></label>
      </div>
      <div>
        <label>
          خطأ في رسوم المطار /رسوم وقوف السيارات
          <input type="radio" name="answer-question-three" />
          <span class="checkmark"></span
        ></label>
      </div>
      <div>
        <label>
          مسائل اخري
          <input type="radio" name="answer-question-three" />
          <span class="checkmark"></span
        ></label>
      </div>
    </div>
  </div>
  <p class="textaera-title">شارك التفاصيل</p>
  <div class="form-floating">
    <textarea
      class="form-control"
      placeholder="Leave a comment here"
      id="floatingTextarea"
    ></textarea>
    <label for="floatingTextarea"> </label>
  </div>
  <p>اضغط مع الاستمرار او اكتب ملاحظاتك في الاسفل</p>
  <i class="bi bi-mic"></i><br />
  <button class="last-btn">أرسل الشكوي</button>
</main>
